# Database
DB_URL=jdbc:postgresql://localhost:5432/one_edu
DB_USERNAME=postgres
DB_PASSWORD=

# JWT
JWT_SECRET=

# OneID Admin (edu_hemis)
ONEID_ADMIN_CLIENT_ID=edu_hemis
ONEID_ADMIN_CLIENT_SECRET=
ONEID_ADMIN_SCOPE=hemis.uz
ONEID_ADMIN_REDIRECT_URI=https://hemis.uz/api/auth/callback

# OneID User (kasbiy_edu_uz)
ONEID_USER_CLIENT_ID=kasbiy_edu_uz
ONEID_USER_CLIENT_SECRET=
ONEID_USER_SCOPE=kasbiy.edu.uz
ONEID_USER_REDIRECT_URI=https://apv.edu.uz/api/public/auth/code